body {
    background-color: #F5FAFD;
}

/* Cambiar el color de fondo del navbar */
.md-header, .md-tabs {
    background-color: #015442 !important; /* Color representativo del hotel */
}

/* Cambiar el color del texto en el navbar */
.md-header__title, 
.md-header__button, 
.md-tabs__link {
    color: #ffffff !important; /* Blanco para el texto */
}

/* Cambiar el color de los enlaces del navbar cuando están activos */
.md-tabs__link--active {
    background-color: #01382E !important; /* Color más oscuro para el estado activo */
    color: #ffffff !important;
}

@media screen and (max-width: 76.2344em) {
    .md-nav--primary .md-nav__title[for=__drawer] {
        background-color: #015442 !important;
        color: var(--md-primary-bg-color);
        font-weight: 700;
    }
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
        background: #F5FAFD !important;
        box-shadow: 0 0 .4rem .4rem #F5FAFD; 
}