:root  > * {
    --md-primary-fg-color:        #015442 !important;
    --md-primary-fg-color--light: #015442 !important;
    --md-primary-fg-color--dark:  #015442 !important;

    --md-accent-fg-color: #014133;
    --md-accent-fg-color--transparent: #526cfe1a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
    background-color: #014133d3;
    color: #fff !important;
    padding: .5rem .5rem;
}

.md-nav__item .md-nav__link:hover {
    /* color: #ffffff !important; */
}

.md-nav__item .md-nav__link--active:hover, 
.md-nav__item .md-nav__link--active code {
    color: #fff;
}

/* Solo cambia el hover del enlace activo */
.md-nav__item .md-nav__link--active:hover, 
.md-nav__item .md-nav__link--active code:hover {
    background-color: #00695c !important;
    color: #ffffff !important;
}

/* Cambia el hover de todos los enlaces excepto los activos */
.md-nav__item .md-nav__link:not(.md-nav__link--active):hover {
    color: #058d70 !important;
}


.md-nav--lifted>.md-nav__list>.md-nav__item--active.md-nav__item--section {
    font-size: 1rem;
}

.md-grid {
    max-width: 1600px; 
}